<!-- 侧栏部分 -->
<aside class="sidebar">
    <%- js('js/jquery') %>
    <script>
        (function () {
    // A local search script with the help of [hexo-generator-search](https://github.com/PaicHyperionDev/hexo-generator-search)
    // Copyright (C) 2015 
    // Joseph Pan <http://github.com/wzpan>
    // Shuhao Mao <http://github.com/maoshuhao>
    // Edited by MOxFIVE <http://github.com/MOxFIVE>

    var searchFunc = function (path, search_id, content_id) {
        'use strict';
        $.ajax({
            url: path,
            dataType: "xml",
            success: function (xmlResponse) {
                // get the contents from search data
                var datas = $("entry", xmlResponse).map(function () {
                    return {
                        title: $("title", this).text(),
                        content: $("content", this).text(),
                        url: $("url", this).text()
                    };
                }).get();
                var $input = document.getElementById(search_id);
                var $resultContent = document.getElementById(content_id);
                $input.addEventListener('input', function () {
                    var str = '<ul class=\"search-result-list\">';
                    var keywords = this.value.trim().toLowerCase().split(/[\s\-]+/);
                    $resultContent.innerHTML = "";
                    if (this.value.trim().length <= 0) {
                        return;
                    }
                    // perform local searching
                    datas.forEach(function (data) {
                        var isMatch = true;
                        var content_index = [];
                        var data_title = data.title.trim().toLowerCase();
                        var data_content = data.content.trim().replace(
                            /<[^>]+>/g, "").toLowerCase();
                        var data_url = data.url;
                        var index_title = -1;
                        var index_content = -1;
                        var first_occur = -1;
                        // only match artiles with not empty titles and contents
                        if (data_title != '' && data_content != '') {
                            keywords.forEach(function (keyword, i) {
                                index_title = data_title.indexOf(
                                    keyword);
                                index_content = data_content.indexOf(
                                    keyword);
                                if (index_title < 0 && index_content <
                                    0) {
                                    isMatch = false;
                                } else {
                                    if (index_content < 0) {
                                        index_content = 0;
                                    }
                                    if (i == 0) {
                                        first_occur = index_content;
                                    }
                                }
                            });
                        }
                        // show search results
                        if (isMatch) {
                            str += "<li><a href='" + data_url +
                                "' class='search-result-title' target='_blank'>" +
                                "> " + data_title + "</a>";
                            var content = data.content.trim().replace(
                                /<[^>]+>/g, "");
                            if (first_occur >= 0) {
                                // cut out characters
                                var start = first_occur - 6;
                                var end = first_occur + 6;
                                if (start < 0) {
                                    start = 0;
                                }
                                if (start == 0) {
                                    end = 10;
                                }
                                if (end > content.length) {
                                    end = content.length;
                                }
                                var match_content = content.substr(start, end);
                                // highlight all keywords
                                keywords.forEach(function (keyword) {
                                    var regS = new RegExp(keyword, "gi");
                                    match_content = match_content.replace(
                                        regS,
                                        "<em class=\"search-keyword\">" +
                                        keyword + "</em>");
                                })
                                str += "<p class=\"search-result\">" +
                                    match_content + "...</p>"
                            }
                        }
                    })
                    $resultContent.innerHTML = str;
                })
            }
        })
    }

    // 调用函数
    var path = "/search.xml";
    searchFunc(path, 'local-search-input', 'local-search-result');
    var inputArea = $("#search-form #local-search-input")[0];
    var getSearchFile = function () {
        var path = "/search.xml";
        searchFunc(path, 'local-search-input', 'local-search-result');
    }
    inputArea.focus(function(){
        getSearchFile()
    })
   

    // 搜索重置
    var $resetButton = $("#search-form .fa-times");
    var $resultArea = $("#local-search-result");

    inputArea.bind('input propertychange',function(){});

    inputArea.oninput = function () {
        console.log($resetButton)
        $resetButton.show();
    }
    resetSearch = function () {
        $resultArea.html("");
        $("#search-form")[0].reset();
        $resetButton.hide();
        $(".no-result").hide();
    }

    // 屏蔽回车
    inputArea.onkeydown = function () {
        if (event.keyCode == 13) return false
    }
    // 无搜索结果
    $resultArea.bind("DOMNodeRemoved DOMNodeInserted", function (e) {
        if (!$(e.target).text()) {
            $(".no-result").show(200);
        } else {
            $(".no-result").hide();
        }
    })
}())
    </script>
    <!-- 搜索框 -->
    <form id="search-form">
        <!-- 搜索框相关 -->
        <input type="text" id="local-search-input" name="q" results="0" placeholder="search..." class="search form-control"
            autocomplete="off" autocorrect="off" />
        <i class="fa fa-times" onclick="resetSearch()"></i> <!-- 清空/重置搜索框 -->
    </form>
    <div id="local-search-result"></div> <!-- 搜索结果区 -->
    <p class='no-result'>No results found </p> <!-- 无匹配时显示，注意请在 CSS 中设置默认隐藏 -->

    <!-- 文章分类 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>文章分类</strong></h3>
        <%- partial('widget/categorys') %>
    </section>

    <% if (theme.tagcloud) { %>
    <section class="widget">
        <h3 class="widget-hd"><strong>热门标签</strong></h3>
        <%- partial('widget/tags') %>
    </section>
    <% } %>

    <% if (theme.weibo_show.enable) { %>
    <!-- 我的微博 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>我的微博</strong></h3>
        <%- partial('widget/weibo') %>
    </section>
    <% } %>

    <% if (theme.friends.enable && theme.friends['list']) { %>
    <!-- 友情链接 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>友情链接</strong></h3>
        <%- partial('widget/friend_links') %>
    </section>
    <% } %>
</aside>
<!-- / 侧栏部分 -->