<!-- 侧栏部分 -->
<aside class="sidebar">
    <!-- 搜索框 -->
    <div id="site_search">
        <input type="text" id="local-search-input" name="q" results="0" placeholder="搜索..." 
            class="form-control search" />
        <!-- 清空/重置搜索框 -->
        <i class="search-clear"></i>
        <!-- 搜索结果区 -->
        <div id="local-search-result"></div>
        <!-- 无匹配时显示，注意请在 CSS 中设置默认隐藏 -->
        <p class='no-result'>无搜索结果 </p> 
    </div>
    <%- js('js/jquery') %>
    <%- js('js/search') %>
    <script type="text/javascript">
        var search_path = "<%= config.search.path %>";
        if (search_path.length == 0) {
            search_path = "search.xml";
        }
        var path = "<%= config.root %>" + search_path;
       
        searchFunc(path, 'local-search-input', 'local-search-result');
    
         // 清空搜索
         $('.search-clear').click(function(){
            // $('#local-search-input').val('')
            searchFunc(path, 'local-search-input', 'local-search-result');
            // $('#local-search-result').hide()
            // $('.no-result').show()
        })
    </script>

    <!-- 文章分类 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>文章分类</strong></h3>
        <%- partial('widget/categorys') %>
    </section>

    <% if (theme.tagcloud) { %>
    <section class="widget">
        <h3 class="widget-hd"><strong>热门标签</strong></h3>
        <%- partial('widget/tags') %>
    </section>
    <% } %>

    <% if (theme.weibo_show.enable) { %>
    <!-- 我的微博 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>我的微博</strong></h3>
        <%- partial('widget/weibo') %>
    </section>
    <% } %>

    <% if (theme.friends.enable && theme.friends['list']) { %>
    <!-- 友情链接 -->
    <section class="widget">
        <h3 class="widget-hd"><strong>友情链接</strong></h3>
        <%- partial('widget/friend_links') %>
    </section>
    <% } %>
</aside>
<!-- / 侧栏部分 -->